@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Chivo Mono";
  src: url("./assets/fonts/ChivoMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
}

body {
  padding: 2%;
  background-color: black;
  color: white;
}
